<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Inventario</h1>

    </div>
</div>


<div class="col-xl-12">
    <!--begin:: Widgets/User Progress -->
    <div class="m-portlet m-portlet--full-height ">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-download fa-sm text-white-50"></i> Registrar Producto</a>
                    </h3>
                </div>
            </div>

        </div>
        <div class="m-portlet__body">

            <div class="tab-content col-xl-6">
                <div class="tab-pane active" id="m_widget4_tab1_content">
                    <div class="m-widget4 m-widget4--progress">
                        <div class="m-widget4__item">
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>