<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>footer</title>
</head>

<body>
    <footer class="footer-area black-bg pt-60">
        <div class="container">
            <div class="footer-top">
                <div class="footer-logo text-center">
                    <a href="index.html">
                        <img src="img/logo.png" alt="logo-img" width="200px"> ==$0
                    </a>
                    <p>Contrariamente a la creencia popular, Lorem Ipsum no es simplemente un texto aleatorio. Tiene
                        raíces en
                        una pieza de literatura clásica latina.
                        Latin literature.</p>
                </div>
                <div class="support-area d-flex flex-wrap justify-content-between">
                    <div class="single-support mb-all-40">
                        <div class="support-icon">
                            <img src="img/envio_opt.jpg" alt="support-icon">
                        </div>
                        <div class="support-desc">
                            <h6>Envio Gratis</h6>
                            <p>La mayoría de los productos son
                                <br> envío gratis .</p>
                        </div>
                    </div>
                    <div class="single-support mb-all-40">
                        <div class="support-icon">
                            <img src="img/atencion_opt.png" alt="support-icon">
                        </div>
                        <div class="support-desc">
                            <h6>Atención Al Cliente</h6>
                            <p>24x7 Atención Al Cliente</p>
                        </div>
                    </div>
                    <div class="single-support">
                        <div class="support-icon">
                            <img src="img/pagoseguro_opt.png" alt="support-icon">
                        </div>
                        <div class="support-desc">
                            <h6>Pago Seguro</h6>
                            <p>Pago más seguro
                                <br> para el cliente..</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom text-center ptb-15 off-black-bg">
                <p class="copyright">Copyright © <a href="#">CompuNet</a> Todos los derechos reservados</p>
            </div>
    </footer>

</body>

</html>