
 <!doctype html>
<html class="no-js" lang="zxx">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>CompuNet</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

 
</head>

<body>
   <header class="header-area">
      <div class="header-top">
        <div class="container">
          <div class="row align-items-center text-center text-md-left">
            <!-- Logo Start -->
            <div class="col-md-3 col order-1 order-md-1 mb-sm-30">
              <div class="logo">
                <a href="index.html">
                  <img src="img/logo.png" alt="logo-img">
                </a>
              </div>
            </div>
            <div class="col-md-6  order-3 order-md-2">
              <div class=" categorie-search-box">
                <form action="#">
                  <input type="text" name="search" placeholder="Buscar productos">
                  <button>
                    <span class="ti-search"></span>
                  </button>
                </form>
              </div>
            </div>
            <div class="col-md-3 col order-2 order-md-3 mb-sm-30">
              <div class="cart-box float-md-right">
                <div class="drodown-show">
                  <a href="Carrito.html">
                    <span class="total-pro">2 item
                      <br>
                      <span>$160.00</span>
                    </span>
                  </a>
                  <ul class="dropdown cart-box-width">
                    <li>
                      <div class="single-cart-box">
                        <div class="cart-img">
                          <a href="#">
                            <img src="img/products/p1.jpg" alt="cart-image">
                          </a>
                          <span class="pro-quantity">1X</span>
                        </div>
                        <div class="cart-content">
                          <h6>
                            <a href="product-details.html">Printed Summer Red </a>
                          </h6>
                          <span class="cart-price">27.45</span>
                          <span>Size: S</span>
                          <span>Color: Yellow</span>
                        </div>
                        <a class="del-icone" href="#">
                          <span class="ti-close"></span>
                        </a>
                      </div>
                      <div class="single-cart-box">
                        <div class="cart-img">
                          <a href="#">
                            <img src="http://placehold.it/700x400" alt="cart-image">
                          </a>
                          <span class="pro-quantity">1X</span>
                        </div>
                        <div class="cart-content">
                          <h6>
                            <a href="product-details.html">Printed Round Neck</a>
                          </h6>
                          <span class="cart-price">45.00</span>
                          <span>Size: XL</span>
                          <span>Color: Green</span>
                        </div>
                        <a class="del-icone" href="#">
                          <span class="ti-close"></span>
                        </a>
                      </div>

                      <div class="cart-footer">
                        <ul class="price-content">
                          <li>Subtotal
                            <span>$57.95</span>
                          </li>
                          <li>Shipping
                            <span>$7.00</span>
                          </li>
                          <li>Taxes
                            <span>$0.00</span>
                          </li>
                          <li>Total
                            <span>$64.95</span>
                          </li>
                        </ul>
                        <div class="cart-actions text-center">
                          <a class="cart-checkout" href="checkout.html">Checkout</a>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="header-bottom blue-bg header-sticky">
        <div class="container">
          <div class="row align-items-center">

            <div class="col-lg-10 d-none d-lg-block">
              <nav>
                <ul class="header-menu-list">
                  <li class="active">
                    <a href="index.html">Inicio</a>
                  </li>
                  <li>
                    <a href="Ofertas.html">Ofertas</a>
                  </li>
                  <li>
                    <a href="Servicios.html">Servicios</a>
                  </li>
                  <li>
                    <a href="Nosotros.html">Nosotros</a>
                  </li>
                  <li>
                    <a class="drop-icon" href="Contacto.html">Contacto</a>
                  </li>
                </ul>
                </li>
                </ul>
              </nav>
            </div>
            <div class="col-lg-2">
              <div class="setting-box float-right">
                <ul>
                  <li class="drodown-show">
                    <a href="#">
                      <span class="ti-settings"></span>
                    </a>

                    <ul class="dropdown cart-box-width currency-selector">
                      <li>
                        <h3>My Account </h3>
                        <ul>
                          <li>
                            <a href="register.html">Register</a>
                          </li>
                          <li>
                            <a href="login.html">Login</a>
                          </li>
                          <li>
                            <a href="account.html">My Account</a>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <h3>Currency: USD</h3>
                        <ul>
                          <li>
                            <a href="#">€ Euro</a>
                          </li>
                          <li>
                            <a href="#">£ Pound Sterling</a>
                          </li>
                          <li>
                            <a href="#">$ US Dollar</a>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <h3>Language: EN-GB</h3>
                        <ul>
                          <li>
                            <a href="#">
                              <img src="img/header/1.jpg" alt="lang-icon"> English</a>
                          </li>
                          <li>
                            <a href="#">
                              <img src="img/header/2.jpg" alt="lang-icon"> Germany</a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

   
</body>

</html>