
  <div class="col-lg-9 order-1 order-lg-2">
            <div
              class="grid-list-top border-default universal-padding d-md-flex justify-content-md-between align-items-center mb-30">
              <div class="grid-list-view d-flex align-items-center  mb-sm-15">
                <ul class="nav tabs-area d-flex align-items-center">
                  <li>
                    <a class="active" data-toggle="tab" href="#grid-view">
                      <i class="fa fa-th"></i>
                    </a>
                  </li>
                  <li>
                    <a data-toggle="tab" href="#list-view">
                      <i class="fa fa-list-ul"></i>
                    </a>
                  </li>
                </ul>
                <span id="count-products" class="show-items">Mostrando 9 productos.</span>
              </div>

              <div class="main-toolbar-sorter clearfix">
                <div class="toolbar-sorter d-md-flex align-items-center">
                  <label>Ordenar por:</label>
                  <select class="sorter wide">
                    <option value="Position">Relevancia</option>
                    <option value="Product Name">Nombre, A to Z</option>
                    <option value="Product Name">Nombre, Z to A</option>
                    <option value="Price">Precio bajo a alto</option>
                    <option value="Price">Precio alto a bajo</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="shop-area mb-all-40">
              <div class="tab-content">
                <div id="grid-view" class="tab-pane fade show active">
                PRODUCTOS
                </div>
              </div>
            </div>
          </div>
